<!-- 
  Assigned to Chandra mouli
 -->
 <h1>Dashboard</h1><br>
<mat-card class="example-card" >
  <a href="https://material.angular.io/assets/img/examples/shiba2.jpg ">
  <img mat-card-image src="assets/images/incidents/img.1.jpg" alt="Earthquake"></a>
  <mat-card-content >
    <h2>Earthquake</h2>
    <p>
      Magnitude 5.7 earthquake
      1238 miles from Salvador, Falkland Islands (Islas Malvinas) · Jun 25, 8:48 PM
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>Edit</button>
    <button mat-button>Archive</button>
  </mat-card-actions>
</mat-card><br>
<mat-card class="example-card" >
    <a href="https://material.angular.io/assets/img/examples/shiba2.jpg ">
    <img mat-card-image src="assets/images/incidents/img.2.jpg" alt="Earthquake"></a>
    <mat-card-content >
      <h2>Wildfires</h2>
      <p>
        Sardinas Canyon Fire: Sardinas Canyon Fire, June 28,2018  Acres: Approximately 1672
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Edit</button>
      <button mat-button>Archive</button>
    </mat-card-actions>
  </mat-card>
